exportPattern("^[^\\.]")
useDynLib(multitaper)
S3method(plot, mtm)
S3method(plot, mtm.coh)
S3method(dropFreqs, default)
S3method(dropFreqs, spec)
S3method(dropFreqs, mtm)
S3method(dropFreqs, mtm.coh)

